html, body {
  height: 100%;
  width: 100%;
  background: url('../images/bg.svg') no-repeat center center fixed;
  background-size: cover;
}
.header {
	height:100vh;
	background: url('../images/bg.jpg') no-repeat center center fixed;
	background-size: cover;
	color: white;
	font-size: 96px;
	text-align: center;
}